
.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}

.normaltext {
  font-size: 20px;
  font-weight: 400;
}

.footer_text {
  text-align: center;
  color: #eee;
  font-weight: 300;
}